# =========================
# Virtual Environments
# =========================
smilesenv/
venv/
.venv/

# =========================
# Environment / Secrets
# =========================
.env
.env.*
*.env

# =========================
# Python cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Streamlit
# =========================
.streamlit/secrets.toml

# =========================
# OS / Editor files
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Logs & temp
# =========================
*.log
*.tmp
